<h1>Carrito</h1>

{{#each dataProds}}

    <article class="card-cart">
        {{this.productId.title}}

        {{this.quantity}}
    </article>

{{/each }}











<script src="/js/carts.js"></script>