<h1>Inicio</h1>


{{#each payload}}
        <article class="card">
            <div class="img">
                {{this.image}}
            </div>
            <div class="datos">
                {{this.title}}

                {{this.price}}
            </div>
            <button onclick="addToCart(`{{this._id}}`)">agregar al carrito</button>
        </article>
{{/each}}

<button>Prev</button><button>Next</button>

<script src="/js/home.js"></script>