<h1>Inicio de sesión</h1>

<p>{{message}}</p>
<p id="errorMsg">{{error}}</p>


<form id="loginForm">

<input type="email" name="email" placeholder="Ingrese su email">

<input type="password" name="password" placeholder="Ingrese su contraseña">

<button>Iniciar sesión</button>
</form>

<script src="/js/login.js"></script>