<h1>Bienvenido {{userEmail}}</h1>

{{error}}

<section class="banner">
    <img src="" alt="foto de perfil">
    <h1>{{userEmail}}</h1>
</section>

<section class="btn-logout">
   <a href="/api/sessions/logout">Cerrar sesión</a>
</section>